/* Light Mode */
@define-mixin light {
	--background-colour: #e3e3e3;
	--accent-colour: #80bdff;
	--text-colour: #191919;
	--primary-colour: #f05782;
	--secondary-colour: #1b998b;
	--tertiary-colour: #fd7c6e;
}

/* Dark Mode */
@define-mixin dark {
	--background-colour: #191919;
	--accent-colour: #c6ff24;
	--text-colour: #e3e3e3;
	--primary-colour: #edb340;
	--secondary-colour: #1b998b;
	--tertiary-colour: #f05782;
}
