/* Light Mode */
:root.light {
	--background-colour: #e3e3e3;
	--accent-colour: #c6ff24;
	--text-colour: #191919;
	--primary-colour: #f05782;
	--secondary-colour: #1b998b;
	--tertiary-colour: #5d8079; /* TODO: Find another one */
}

/* Dark Mode */
:root.dark {
	--background-colour: #191919;
	--accent-colour: #c6ff24;
	--text-colour: #e3e3e3;
	--primary-colour: #edb340;
	--secondary-colour: #1b998b;
	--tertiary-colour: #f05782;
}

/* Responsive layout widths */
@custom-media --xs (min-width: 480px);
@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);
@custom-media --2xl (min-width: 1536px);
